.related-posts-grid {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(auto-fit, minmax(calc(33.3333% - 1.25rem), 1fr));
    margin: 2.5rem auto;

    article {
		border: 1px solid #222;
		border-radius: 0.625rem;
        padding: 0.625rem 1.25rem;
    }
}
